body {
  padding: 0;
  margin: 0;
  font-family: Sans-Serif;
}

.config {
  background: #f7901e no-repeat;
  height: 2.5em;
  width:100%;
  margin:0 auto;
  line-height:2;
  position:relative;
}

#regen {
  float: right;
  margin: 1em;
}

.option {
  margin: 1em;
}

input.option {
  width: 4em;
}

.printheader {
  display: none;
  height: 3em;
  padding: 2em 0;
}

.namelabel{ float:left; }
.datelabel { float: right;}
.nameblank, .dateblank {
  border-bottom-style: solid;
  border-width: 1px;
  width: 14em;
  float:left;
  height: 1em;
  margin-right: 1em;
}

.dateblank { float:right; }

.problems {
  clear: both;
  padding: 0 1em;
}

.problem {
  width: intrinsic;
  width: -moz-max-content;
  width: -webkit-max-content;
  padding: 1.5em 1em;
  float: left;
}

.bottom {
  border-bottom-style: solid;
  border-width: 1px;
  float:right;
  width:100%;
}

.number {
  text-align: right;
}

.topnumber {
  padding-left: .5em;
}

.bottomnumber {
  float: right;
}

.sign {
  float: left;
  padding-right: .5em
}

@media print { 
  .config { display: none !important; } 
  .printheader { display: block; }
}
